@import "grid.css";
@import "font-awesome.css";
@import "superfish.css";

@import url(//fonts.googleapis.com/css?family=Economica:400);
@import url(//fonts.googleapis.com/css?family=Economica:700);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400);
@import url(//fonts.googleapis.com/css?family=Open+Sans:300);
@import url(//fonts.googleapis.com/css?family=Open+Sans:600);
@import url(//fonts.googleapis.com/css?family=Open+Sans:700);


@import url(//fonts.googleapis.com/css?family=Dosis);

html {
    width: 100%;
    font-family: 'Economica', sans-serif;
}
a[href^="tel:"] {
 color: inherit;
 text-decoration: none;
}

* {
    -webkit-text-size-adjust: none;
}

body {
    position: relative;
    background-color: #adacac;
    color: #3e3d3d;
    font: 300 14px/20px 'Open Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    line-height:25px;
}


strong {
    font-weight: 700;
}


p {
    margin-bottom: 20px;
}

input, textarea {
    border-radius: 0 !important;
    outline: none !important;
    -webkit-appearance: none;

}


img {
    max-width: 100%;

}

.symbole{
    
    height: 70px;
    
}

.logo{
    
    margin-left: -600px;
}

.imagefrm {
    width: 368px;
    height: 265px;
}


/****Heads****/


h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: #535151;
    font-family: 'Economica', sans-serif;
}

h2 {
    font-size: 36px;
    line-height: 48px;
    padding-top: 0px;
    margin-bottom: 14px;
}

h3 {
    font-size: 28px;
    line-height: 48px;
    padding-top: 10px;
    margin-bottom: 5px;
}

h5 {
    font-size: 20px;
    line-height: 10px;
    padding-top: 0px;
    margin-bottom: 10px;
}
.page1 h2 {
    padding-top: 31px;
    margin-bottom: 39px;

}

#pagination {
    margin-bottom:-50px;
    text-align:center;
}

/****Lists****/


ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.list {
    margin-top: -3px;
}

.list+h2 {
    padding-top: 109px;
}

.list li {
    font-size: 16px;
    color: #535151;
    padding-left: 22px;
    background: url(../images/marker.png) 0 9px no-repeat;
}

.list li+li {
    margin-top: 4px;
}

.shed  {
    margin-top: -19px;
}

.shed li {
    color: #fff;
    padding: 15px 10px 21px 68px;
    font: bold 30px/32px 'Economica', sans-serif;
    background-color: #303030;
}

.shed li span {
    font-size: 24px;
    position: relative;
    top: 3px;
}

.shed li+li {
    margin-top: 4px;
}

.shed li+li+li {
    margin-top: 3px;
}

/****Links****/


a {
    text-decoration: none;
    color: inherit;
    outline: none;
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
}

a:hover {
    color: #aaccaa;
}

.btn {
    display: inline-block;
    border: 1px solid #ccc;
    color: #ccc;
    margin-top: 5px;
    padding: 5px 5px 11px;
    font: bold 20px/20px 'Economica', sans-serif;
}

.btn:hover {
    color: #fff;
    border-color: #aaccaa;
    background-color: #aaccaa;
}

.link1 {
    margin-top: 29px;
    display: block;
    float: right;
    color: #fff;
    background-color: #2e2d2d;
    font-size: 24px;
    line-height: 36px;
    width: 36px;
    height: 36px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 55px;
}

.link1:hover {
    background-color: #aaccaa;
    color: #fff;
}

/****classes****/


/*header*/

header {
    display: block;
    position: relative;
    z-index: 800;
    padding-top: 28px;
    background-color: #f1f0f1;
}

#stuck_container {
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-ms-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
		z-index: 999;
		background-color: #f1f0f1;
                height:132px;
}

header h1 {
    position: relative;
    text-align: center;
    z-index: 990;
    float: left;
}


header h1 a {
    display: inline-block;
    overflow: hidden;
    font-size: 0;
    line-height: 0;    
    text-indent: -999px;
    transition: 0s ease;
    -o-transition: 0s ease;
    -webkit-transition: 0s ease;
}

header h1 a img {
    display: block;
}


/****Content****/

.content {
    padding-bottom: 114px;
    background-color: #fff;
}

.page1 .content {
    padding-bottom: 49px;
}



/****Blocks****/

.banner {
    padding-top: 49px;
}


.bann_capt {
    background-color: #aad4b3;
    color: #fff;
    padding-bottom: 22px;
    text-align: center;
    font: bold 36px/48px 'Economica', sans-serif;
}

.bann_title {
    padding: 6px 0 18px;
    width: 194px;
    margin: 0 auto 2px;
    background: url(../images/bann_sep.png) 0 bottom repeat-x;
}

.bann_capt  a {
    font-size: 20px;
}

.bann_capt  a:hover {
    color: #fff;
    text-decoration: underline;
}

.block1 .count {
    width: 119px;
    margin: 0 auto;
    height: 119px;
    text-align: center;
    font: 40px/116px 'Dosis', sans-serif;
    border-radius: 500px;
    border: 1px solid #939393;
    margin-bottom: 25px;
}

.block1 {
    text-align: center;
    padding: 49px 0;
}

.box {
    padding-bottom: 49px;
    background-color: #f1f0f1;
}

.box .btn {
    margin-top: 30px;
}

.box h2 {
    padding-top: 38px;
    margin-bottom: 16px;
}

.box strong.color1 {
    font-weight: 600;
}


.block2 {
    margin-top: -22px;
    overflow: hidden;
}

.block2+.block2 {
    margin-top: 26px;
}

.block2 time {
    display: block;
    background-color: #000;
    text-align: center;
    width: 70px;
    float: left;
    margin-right: 30px;
    color: #fff;
    position: relative;
    top: 3px;
    padding: 15px 0 19px;
    font: bold 24px/30px 'Economica', sans-serif;
}

/****Gallery****/

.gall_item {
    display: block;
    background: #aaccaa url(../images/magnify.png) center center no-repeat;
}

.gall_item img {
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    width: 100%;
    box-shadow: 0 0 #fff;
}

.gall_item:hover img {
    opacity: 0.2;
}

.gall_block {
    background-color: #f1f0f1;
    padding: 1px;
}

.gall_bot {
    padding: 28px 21px 30px;
}

.gall_bot .btn {
    position: relative;
    top: 1px;
}

.gall_bot  .text1 {
    margin-bottom: 5px;
}



/**Footer**/

.footer {
    display: block;
    padding: 50px 0 40px;
    color: #999999;
    font-size: 14px;
    background-color : #b9b8b8;
    line-height: 18px;
}

/** GRID **/


.row{
  margin-left: -30px;
  *zoom: 1;
  text-align: center; 
}

.row_top {
  margin-left: -30px;
  *zoom: 1;
  text-align: center; 
  margin: auto 10px  
}

.row:before,
.row:after {
  display: table;
  content: "";
  line-height: 0;
}
.row:after {
  clear: both;
}
[class*="grid_"] {
  float: left;
  min-height: 1px;
  margin-left: 10px;
}
.container {
  width: 1170px;
}
.grid_12 {
  width: 1170px;
}
.grid_11 {
  width: 1070px;
}
.grid_10 {
  width: 970px;
}
.grid_9 {
  width: 870px;
}
.grid_8 {
  width: 770px;
}
.grid_7 {
  width: 670px;
}
.grid_6 {
  width: 570px;
}
.grid_5 {
  width: 470px;
}
.grid_4 {
  width: 370px;
}
.grid_3 {
  width: 270px;
}
.grid_2 {
  width: 170px;
}
.grid_1 {
  width: 70px;
}

/**Menu**/


.sf-menu li {list-style-type: none; position: relative;}



ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sf-menu ul ul {display: none; position: absolute; left: 140px; top: 0px; margin: 0px; padding: 0px;}



.sf-menu li:hover > ul{
        display: block;
}


.navigation  {
	z-index: 999;
	position: relative;
	float: right;
	padding-top: 0px;
        margin-top: -40px;
	
}

.select-menu {
	display: none !important;
}

.navigation .sf-menu {
	z-index: 990;
	text-align: left;
	position: relative;
}


nav {
	 position:relative;
	 padding: 0;
	 font-family: 'Economica', sans-serif;
}

.sf-menu ul {
	position:absolute;
	top:-999px; 
	display:none;
}

.sf-menu li {
         list-style-type:none;
   
}

.sf-menu>li>ul>li {
  	float: none;
  	position: static;
}

.sf-menu>li+li {
	margin-left: 40px;
}

.sf-menu>li {
	position: relative;
	font-size: 20px;
	float: left;
	line-height: 22px;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

}

.sf-menu>li>a{
	position: relative;
	color: #727171; 
	font-weight: bold;
	display: block;
	text-align: center;
        height:70px;

}

.sf-menu>li.sfHover>a, .sf-menu>li.current>a, .sf-menu>li>a:hover {
	color: #aaccaa;
}
 
.sf-menu>li>ul>li>a.sf-with-ul:after {
	content: '';
    font-family: 'FontAwesome';
	position: absolute;
	width: 5px;
	font-size: 13px;
	line-height: 13px;
	font-weight: normal;
	right: 20px;
	color: #fff;
	bottom: 11px;
	pointer-events: none;
	z-index: 999;
}

.sf-menu>li>a.sf-with-ul:after {	
	content: '';
	position: absolute;
	width: 5px;
	left: 50%;
	margin-left: -3px;
	bottom: 15px;
	color: #fff;
	pointer-events: none;
	z-index: 999;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 3px 3px 0 3px;
	border-color: #fff transparent transparent transparent;
}


/*================================>> 2 Level <<========================================*/
.sf-menu>li ul {
	left: 0;
	z-index: 999; 
	width: 200%;
	background-color: #cccccc;
	top: 33px;
	padding-bottom: 1px;
	background: #cccccc url(../images/sub_bg.png) 0 0 repeat-x;
}



.sf-menu li ul li {
	position: relative;
	padding-top: 2px;
	float: none !important;
	background: url(../images/sub_sep.png) 0 0 repeat-x;
}


